* {
  text-align: center;
}

body {
  background:#0c0a0c url(https://img.freepik.com/vetores-gratis/fundo-pixel-chuva-resumo_23-2148361453.jpg?w=740&t=st=1705013948~exp=1705014548~hmac=809315a04cc3f05748663c037809862e914ef26a9e9cc836882c488ff32c99b2) no-repeat top center;
  background-size: 100%;
}

header {
  font-size: 20px;
  color: #0c0a0c;
}

h1 {
  width: 390px;
  height: 50px;
  background-color: #a585f0cc;
  color: #301149;
  margin-inline: 470px;
  font-family: Cambria, Cochin, Georgia, Times, serif;
  border-radius: 5px;
}

footer {
  color: #c996c9;
  font-size: 1em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul {
  list-style: none;
  margin: 45px;
  width: 60%;
  font-family: Cambria, Cochin, Georgia, Times, serif;
}

li {
  display: flex;
  background-color: #b99fe9;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  margin-left: 350px;
  border-radius: 5px;
}

.one {
  border: #0c0a0c solid 1px;
}

textarea[name="user-input"] {
  background-color: #aa79eb;
  width: 50%;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 2px solid #a071eccc;
}

#reset-button {
  background-color: #280441;
  color: hsl(0, 0%, 99%);
  font-size: 1.1rem;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer
}

#reset-button:hover {
  background-color: rgb(51, 7, 71);
}